@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDotMail.Email>

<div class="panel panel-default">
    <div class="panel-heading clearfix text-center">
        <span class="pull-left">@Model.Date</span>
        <a class="pull-right" href="?original"><span class="glyphicon glyphicon-envelope"></span>Download Original Email</a>
        <h1 class="panel-title">@Model.Subject</h1>
    </div>
    <div class="panel-body">
        @if (Model.IsBodyHtml)
        {
            @Model.Body.ToCrudeSafeHtml()
        }
        else
        {
            @Model.Body.ToHtmlCopyOfPlainText()
        }
    </div>
    @if (@Model.HasAttachments)
    {
        <table class="table">
            @foreach (var attachment in Model.Attachments)
            {
                <tr>
                    <td><a href="/attachment-@attachment.Id">@attachment.FileName</a></td>
                    <td>@attachment.FileSize.ToReadableSizeString()</td>
                </tr>
            }
        </table>
    }
</div>