@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDotMail.Email>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Subject</h3>
        <span class="text-right">@Model.Date</span>
    </div>
    <div class="panel-body">
        @if (Model.IsBodyHtml)
        {
            @Model.Body.ToCrudeSafeHtml()
        }
        else
        {
            @Model.Body
        }
    </div>
    @if (@Model.HasAttachments)
    {
        <table class="table">
            @foreach (var attachment in Model.Attachments)
            {
                <tr>
                    <td><a href="/attachment-@attachment.Id">@attachment.FileName</a></td>
                    <td>@attachment.FileSize.ToReadableSizeString()</td>
                </tr>
            }
        </table>
    }
</div>